extends layout


block content
	h1 ÜRÜNLER
	hr
	table(class='hover')
		thead
			tr
				th(width='150') Tür
				th Ad
				th(width='100')
		tbody
		-if(items === undefined || items.length === 0)
			p Maalesef şu anda kütüphanemizde hiçbir kitap bulunmamaktadır.
		-else
			-for(var i = 0; i < items.length; ++i)
				tr
				-var type = items[i].type == 0 ? "Book" : "Magazine";
				td #{type}
				td #{items[i].name}
				-if(items[i].available)
					td
						a(href="/getItem?item_id=#{items[i].id}" class='success button del-bot-mrgn') Al
				-else 
					if(items[i].borrowed_by_me)
						td
							a(href="/giveBack?item_id=#{items[i].id}" class='success button del-bot-mrgn') İade
					else
						td
							a(href="/getItem?item_id=#{items[i].id}" class='success button del-bot-mrgn') Rezerv